*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* General Layout */
.homePage {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
}

/* Right Content (Login Form) */
.rightContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Overlay */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Modal Content */
.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
}

/* Button Styles */
button {
    padding: 14px 24px; /* Adjusted padding */
    font-size: 1rem; /* Consistent font size */
    border-radius: 8px; /* Rounded corners */
    border: none; /* No border by default */
    cursor: pointer; /* Pointer cursor on hover */
}

/* User Login Button */
.userLoginButton {
   background-color: #3498db; /* User login button color */
   color: white; /* White text for user login button */
}

.userLoginButton:hover {
   background-color: #2980b9; /* Darker shade on hover */
}

.userLoginButton:active {
   background-color: #21618c; /* Darker shade when active */
}


/* Submit Button (Modal) */
.submitButton {
   background-color: #2e45a3; /* Submit button color */
   color: white; /* White text for submit button */
}

.submitButton:hover {
   background-color: #082fcc; /* Change background color on hover */
}

.submitButton.active{
   background-color:#21618c; /* Change background color when active */
}

/* Register Button (Modal) */
.registerButton {
   background-color:none; /* Transparent background for register button */ 
   color:#3498db; /* Text color for register button */ 
   border:none; /* No border for register button */ 
   cursor:pointer; /* Pointer cursor on hover */ 
   font-weight:bold; /* Bold text for register button */ 
   transition:.3s ease; /* Smooth transition effect for hover state */ 
}

.registerButton:hover {
   color:#3b5b8c; /* Change text color to lighter shade when hovered over register button */ 
}

/* Responsive Design */
@media (max-width: 768px) {
   .homePage {
       flex-direction: column; /* Stack layout vertically on small screens */
   }

   .rightContent {
       width: 100%; /* Full width on small screens */ 
       padding-top :20px ;/* Add some space at the top */ 
       padding-bottom :20px ;/* Add some space at the bottom */ 
   }

   .modal {
       width :90%;/* Make modal responsive */  
       max-width :400px ;/* Limit maximum width of modal */  
   }
}
