
  .addNewButton {
    margin-left: 52%;
    margin-bottom: 10px;
    padding: 8px 15px; /* Reduced padding for a smaller button */
    font-size: 14px; /* Smaller font size */
    font-weight: bold;
    color: white;
    background-color: #2e45a3; /* Button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: sticky; /* Make the button sticky */
    top: 20px; /* Distance from the top of the viewport */
  }
  
  .addNewButton:hover {
    background-color: #3b5b8c; /* Change color on hover */
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: calc(50% - 16px);
    transition: transform 0.2s;
  }


  .card:hover {
    transform: translateY(-5px);
  }
  
  .methodName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  .methodDescription {
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;
  }
  
  .methodDetails {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
  }
  
  .actionButtons {
    display: flex;
    gap: 10px;
  }
  
  .editButton {
    background-color: #2e45a3; /* Default edit button color */
    color: white; 
    border-radius: 5px; 
    padding: 10px; 
    cursor:pointer ; 
    font-size :14px ; 
    transition :background-color .3s ease ; 
  }
  
  .editButton:hover {
    background-color :white ;/* Darker shade on hover */ 
    color: #2e45a3;
    border :2px solid #2e45a3 ;
  }
  
  .deleteButton {
    background-color: white; /* Default delete button color */ 
    color: #2e45a3; 
    border-radius: 5px; 
    border :2px solid #2e45a3 ;/* Border matching text color for delete button */ 
    padding :10px ; 
    cursor:pointer ; 
    font-size :14px ; 
    transition :background-color .3s ease ; 
 }
  
  .deleteButton:hover {
   background-color :#2e45a3 ;
   color: white;
  }
  
  .errorMessage {
    color: red;
    margin: 10px 0;
  }
  
  .loadingMessage {
    text-align: center;
    color: #777;
  }